// Colours
$color-background: {{ .Site.Params.colors.background | default "#6fcdbd" }};
$color-foreground: {{ .Site.Params.colors.foreground | default "#fff" }};
$color-hover: {{ .Site.Params.colors.hover | default "#333" }};

{{/* http://www.heropatterns.com/ */}}
{{- $default := resources.Get "svg/topography.svg" | resources.ExecuteAsTemplate "images/topography.svg" .  | resources.Minify }}
{{- $coverimage := $default.RelPermalink }}

$coverimage: "{{$coverimage}}";

@import '../common/variables';
@import 'main/base';
@import 'main/layout';
