// Fonts
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-size: 16px;

// Responsive breaks
$break-extra-small: 575px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}


@media print {
    .noprint {
        display: none;
    }
}