<article itemscope itemType="http://schema.org/BlogPosting">
    <div class="postShort-wrap">
      <div class="postShort-header">
        <span class="postShort-title" itemprop="headline">
          <span class="postShort-title-prefix">Latest Post:</span>
          <a class="link-unstyled" href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </span>
      </div>
      <div class="postShort-excerpt" itemprop="articleBody">
        {{ .Summary }}
      </div>
    </div>
    {{ partial "posts/meta" . }}
</article>
