{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-bar">
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
          <span class="pagination-prev">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Prev.URL }}">
              <icon class="fa fa-angle-left"></icon>
            </a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="pagination-next">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Next.URL }}">
              <icon class="fa fa-angle-right"></icon>
            </a>
          </span>
        {{ end }}
    </div>
  </div>
{{ end }}
