<header>
    {% if page.title %}
    <h1> {{ page.title }}</h1>
    {% else %}
    <h1> Home </h1>
    {% endif %}
    <p class="view"><a href="https://github.com/LDavRoe">View My GitHub Profile</a></p>
    <p class="view"> Elsewhere on the web:<br/>
    <a href="http://plus.google.com/115424506311903439353?prsrc=3" rel="publisher" style="text-decoration:none;">
    <img src="http://ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
    <a href="http://www.twitter.com/theaxer" style="text-decoration:none;">
    <img src="images/twitter-blue-32.png"/> </a>
    <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/lucasdavroe" data-format="click"></script>
    </p>

</header>
