<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    <title>
        {{ .Title }} &middot; {{ .Site.Title }}
    </title>

    {{- if .Params.canonicalLink }}
    <link rel="canonical" href="{{ .Params.canonicalLink }}" />
    {{- else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{- end }}

    <!-- CSS -->
    {{- $cssTarget := "css/resume.style.css" }}
    {{- $cssOptions := (dict "targetPath" $cssTarget "enableSourceMap" true "outputStyle" "compressed") }}
    {{- $sassTemplate := resources.Get "scss/resume/main.scss" }}
    {{- $style := $sassTemplate | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $cssOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <main class="resume">
        <div class="nav--mini noprint">
            <a class="btn .btn--default btn--nav" href="/">
                <icon class="nav-icon fas fa-home"></icon> Home
            </a>
            <a class="btn .btn--default btn--nav" href="/posts/">
                <icon class="nav-icon fas fa-rss"></icon> Blog
            </a>
        </div>
        <div class="resume-content markdown">
            <div class="resume-content-wrap">
                {{ .Content }}
            </div>
        </div>
    </main>
</body>

</html>
