html, body {
    height: "100%";
}

.resume {
    margin: 5vh auto;
    max-width: 800px;

    @media screen and (max-width: 1000px) {
        margin: 5vh 15vw;
    }
}

a {
    text-decoration: none;
    color:unset;
}
