section {
    float: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    margin-top: 1em;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

hr {
    display: none;
}


@media print, screen {
    section {
        float: none;
    }


    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    h3 {
        margin-top: 1em;
    }

    p, ul, ol, table, pre, dl {
        margin:0 0 10px;
    }

    hr {
        display: none !important;
    }
}
